<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pdt">
	<select id="selectUsePdt" resultType="ProductDTO">
		SELECT * FROM tbl_product
		WHERE cnt > 0
		ORDER BY pno
	</select>

	<select id="already" resultType="Integer">
		SELECT COUNT(*) FROM tbl_product
		WHERE pname = #{pname} 
	</select>
	
	<update id="cntChange" parameterType="map">
		UPDATE tbl_product
		<if test="flag=='plus'">
		SET cnt = cnt + #{cnt}
		</if>
		<if test="flag=='minus'">
		SET cnt = cnt - #{cnt}
		</if>
		WHERE pname = #{pname} 
	</update>
	
	<insert id="insert" parameterType="map">
		INSERT INTO tbl_product(pno, pname, company, price, cnt)
		VALUES(seq_product.nextVAL, #{pname}, #{company}, #{price}, #{cnt})
	</insert>
	
	<delete id="delete" parameterType="String">
		DELETE FROM tbl_product
		WHERE pname = #{pname}
	</delete>
	
	<select id="select" resultType="ProductDTO">
		SELECT * FROM tbl_product
	</select>
	
	<select id="search" resultType="ProductDTO">
		SELECT * FROM tbl_product
		WHERE pname LIKE '%'||#{pname}||'%'
	</select>

	<update id="sale" parameterType="map">
		UPDATE tbl_product 
		SET cnt = cnt - #{cnt}
		WHERE pno = #{pno}
	</update>

</mapper>
