<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sale">
	<insert id="insert" >
		INSERT INTO tbl_sale(sno, sname, cnt, tprice)
		VALUES(seq_sale.nextVAL, #{sname}, #{cnt}, #{tprice})
	</insert>
	
	<select id="dashBoard" resultType="SaleDTO">
		SELECT sname, SUM(cnt) as cnt, SUM(tprice) as tprice
		FROM tbl_sale
		WHERE TO_CHAR(regdate, 'YYYYMMDD')=TO_CHAR(SYSDATE, 'YYYYMMDD')
		GROUP BY sname
	</select>
</mapper>